        h1{
            font-family: 'Poppins', sans-serif;
            font-size: 60px;
            color: darkgray;
            text-align: center;
        }
        h2{
            font-family: 'Poppins', sans-serif;
            font-size: 40px;
            color: darkslategray;
            text-align: left;
        }
        #dif{
            font-size: 25px;
        }
        #texto0{
            position: absolute;
            margin-top: -450px;
            margin-left: 655px
        }
        #texto1{
            position: absolute;
            margin-top: -225px;
            margin-left: 450px
        }
        #texto2{
            position: absolute;
            margin-top: -350px;
            margin-left: 565px;
        }       
        #texto00{
            position: absolute;
            margin-top: -350px;
            margin-left: 100px;
        }

        img{
            background: url(https://png.pngtree.com/background/20210715/original/pngtree-hand-drawn-math-blackboard-background-picture-image_1297774.jpg);
            background-attachment: scroll;
            background-size:cover; 
            width: 1440px;
            height: 550px;
        }
        #img_dif{
            width: 180px;
            height: 170px;
        }
        a{
            color: darkolivegreen;
            text-align: left;
            font-size: 30px
        }
        ol{
            font-family: 'poppins', sans-serif;
        }
        li{
            font-family: 'poppins', sans-serif;
        }
        ul{
            font-family: 'poppins', sans-serif;
            font-size: 15px
        }
        p{
            font-family: 'poppins', sans-serif;
            font-size: 20px
        }
    
    